<nav class="main-menu" [class.open]="menuAberto">
  <a routerLink="/home" routerLinkActive="active">
    <span class="material-symbols-outlined">home</span> Home
  </a>
  <a routerLink="/gerenciamento" routerLinkActive="active">
    <span class="material-symbols-outlined">dashboard</span> Gerenciamento
  </a>
  <a routerLink="/estatistica" routerLinkActive="active">
    <span class="material-symbols-outlined">monitoring</span> Estatística
  </a>
  <a routerLink="/relatorio" routerLinkActive="active">
    <span class="material-symbols-outlined">overview</span> Relatório geral
  </a>
  <a routerLink="/usuario" routerLinkActive="active">
    <span class="material-symbols-outlined">account_circle</span> Configuração
  </a>
</nav>