<div class="password-container">
  <form (ngSubmit)="onSubmit()" #passwordForm="ngForm" class="password-form">
    <h2>Definir Senha</h2>
    <p>Crie uma senha forte para proteger sua conta.</p>

    <div style="padding: 15px; background-color: #fff3cd; border: 1px solid #ffeeba; color: #856404; border-radius: 5px; margin-bottom: 20px;">
        <strong>Atenção:</strong> A senha deve conter um caracter especial (&#64;, #),<br> Letra maiúscula, minúscula, número e ter no mínimo 8 carcteres<br>
    </div>

    <div class="input-group">
      <label for="senha">Senha</label>
      <input 
        type="password" 
        id="senha" 
        name="senha" 
        [(ngModel)]="senha" 
        placeholder="Digite sua nova senha"
        required>
    </div>

    <div class="input-group">
      <label for="confirmarSenha">Confirmar Senha</label>
      <input 
        type="password" 
        id="confirmarSenha" 
        name="confirmarSenha" 
        [(ngModel)]="confirmarSenha"
        placeholder="Confirme sua nova senha"
        required>
    </div>

    <div *ngIf="mensagemErro" class="message error">
      {{ mensagemErro }}
    </div>
    <div *ngIf="mensagemSucesso" class="message success">
      {{ mensagemSucesso }}
    </div>

    <button type="submit" class="submit-button" [disabled]="!passwordForm.valid || mensagemSucesso">
      Enviar
    </button>
  </form>
</div>